<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/main-menu'" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      </ion-buttons>
      <ion-title>Chats</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

  <ion-searchbar [(ngModel)]="searchFilter" (ionChange)="filtrarPorNombre()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let paciente of filteredPacientes" [routerLink]="['/mensajeria', paciente.Id]">
      <div class="paciente-item">
        <span>{{ paciente.Nombre }}</span><br/>
        <span>{{ paciente.DNI }}</span><br/><br/>
        <span class="mensaje">{{ paciente.Mensaje | slice:0:100 }}</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
